building.aux
building.log
building.pdf
building.out
building.toc

misc.aux
misc.log
misc.pdf
misc.out
misc.toc

cua.aux
cua.log
cua.pdf
cua.out
cua.toc
cua.nav
cua.ogv
cua.snm
cua.vrb

rpctrace.aux
rpctrace.log
rpctrace.nav
rpctrace.out
rpctrace.pdf
rpctrace.snm
rpctrace.toc
rpctrace.vrb

ex1
ex2
ex3
ex4
